---
// 页面使用的默认布局
const { title } = Astro.props;
---

<html lang="zh">
  <head>
    <meta charset="UTF-8" />
    <title>{title}</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <main class="container">
      <h1>{title}</h1>
      <slot />
    </main>
  </body>
</html>